*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
align-items: center;
display: flex;
flex-direction: column;
background-color:  #013914;    
color: white;
position: sticky;
top: 0;
 transition: 0.5s all ease-in;
&.active {
    background-color: rgb(255, 255, 255);
}


&.active span {
    color : black
}

.container{
padding: 22px;
    display: flex;
    width: 1000px;
color: white;
    margin: auto;
    // background-color: rgb(40, 150, 40);
    justify-content: space-between;
.dot{
color: green; 
}
    .menu{
    display: flex;
    gap: 25px;
    color: white;



.user{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
    .option{
        position: absolute;
        top: 30px;
        right: 0;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        gap:10px;
        background-color: white;
        color: gray;
        padding: 20px;
        border: 1px solid black;
        width: 130px;
        font-weight: 200px;
        align-items: center;
       
    } 
    .optionunder{
        border: 1px solod black;
    }

}





Button{
    background-color: white;
    // padding-left: 10px;
    // padding-right: 10px;
    // padding-top: 5px;
    // padding-bottom: 10px;
    width: 70px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    &:hover{
        background-color: rgb(11, 157, 35);
        transition: 0.2s all ease-in;
        color: white;
    }
}


}



}
.mainmenu{
    color: white;
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
}
hr{
    width: 100%;
    height: 0;
    border: 1px solid lightgray;
}

}

